.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

front/node_modules/
back/node_modules/

# fichier configuration base de données.
/back/config/config.json