:host {
    width: 300px;
    height: 100vh;
    display: block;
    padding: 25px;
    border: 5px solid rgba(33, 22, 55, 0.5);
    background-color: rgba(33, 22, 55, 0.2);
    border-style: none none none solid;
    margin-right: 0;
    margin-left: 80%;
}

.product-block {
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px dotted white;
    margin-bottom: 200px;
}

.wrapper {
    width: 250px;
    margin: 0 auto;
    display: block;
}

.product-menu {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    display: block;
    border-radius: 5px;
    border: 2px solid rgba(33, 22, 55, 0.3);
    background-color: rgba(33, 33, 55, 0.1);
}

.product-menu button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    background-color: rgb(3A, 3A, 3A);
}