<style>
  #product-detail {
    width: 20%;
    height: 100vh;
    display: block;
    padding: 10px;
    border: 5px solid rgba(33, 22, 55, 0.5);
    background-color: rgba(33, 22, 55, 0.2);
    border-style: none none none solid;
    margin-right: 0;
    margin-left: 80%;
  }

  .product-detail {
    width: 150px;
    padding: 25px;
    display: block;
  }

  .wrapper {
    width : 200px;
    margin: 0 auto;
    display: block;

  }

  .product-menu {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid rgba(33, 22, 55, 0.3);
    background-color: rgba(33, 33, 55, 0.1);
  }

  .product-menu button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius : 10px;
    padding : 10px;
    border-style: none;
    background-color : rgb(3A,3A,3A);
  }
</style>

<div id="product-detail">
  <div class="wrapper">
    <div class="product-block">
      <img src="" alt="image produit" width="100px" height="100px">
      <h2 class="product-title">TItre produit
        <h2>
          <p class="desc-product"> Descriptif produit </p>
    </div>
    <div class="product-menu">
      <button>Ajouter au panier</button>
      <button>Supprimer</button>
    </div>
  </div>
</div>
